<div class="flex-w flex-str size-w-27 al-self-e w-full-lg">
    <div class="size-w-26 flex-r-m txt-right txt-m-109 cl3 respon6-01">
        Organic Products
    </div>
    <p class="txt-right txt-s-101 cl6 p-t-7 respon6-03">
        We also sell Organic Food Products.
    </p>
</div>
 
<div class="flex-w flex-str size-w-27 al-self-s w-full-lg">
    <div class="size-w-26 flex-m txt-m-109 cl3">
        Food Safety
    </div>
    <p class="txt-s-101 cl6 p-t-7">
        Our groceries items meets FSSAI Standards.
    </p>
</div>

<div class="flex-w flex-str size-w-27 al-self-c p-r-6 w-full-lg">
    <div class="size-w-26 flex-r-m txt-right txt-m-109 cl3 respon6-01">
        Family Healthy
    </div>
    <p class="txt-right txt-s-101 cl6 p-t-7 respon6-03">
        We always care about the customer by supplying Healthy &amp; hygienic food products.
    </p>
</div>

<div class="flex-w flex-str size-w-27 al-self-c p-l-6 w-full-lg">
    <div class="size-w-26 flex-m txt-m-109 cl3">
        Quality
    </div>
    <p class="txt-s-101 cl6 p-t-7">
        We maintain high quality of Food Products.
    </p>
</div>

<div class="flex-w flex-str size-w-27 al-self-s w-full-lg">
    <div class="size-w-26 flex-r-m txt-right txt-m-109 cl3 respon6-01">
        Snacks
    </div>
    <p class="txt-right txt-s-101 cl6 p-t-7 respon6-03">
        Parle G 250G, Pori Urundai, Murukku White, KadalaMittai, Kuchi mittai, Kuruvi Mittai, Then Mittai
    </p>
</div>

<div class="flex-w flex-str size-w-27 al-self-e w-full-lg">
    <div class="size-w-26 flex-m txt-m-109 cl3">
        Electronic Product
    </div>
    <p class="txt-s-101 cl6 p-t-7">
        HP1429u, Asus 1001, Asus Fire, HP Fire, HP Bolt, HP Boom, HP Boose, HP 1426b, Asus Abcd
    </p>
</div>


