<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">PK Market</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active"><a routerLink="/bill">Bill</a></li>
      <li class="nav-item active"><a routerLink="/stock">Stock</a></li>
      <li class="nav-item active"><a routerLink="/newproduct">Add Product</a></li>
      <li class="nav-item active"><a routerLink="/newcustomer">Add Customer</a></li>
      <li class="nav-item active"><a routerLink="/newemployee">Add Employee</a></li>
    </ul>
    <ul class="nav navbar-right">
      <li><a routerLink="/login">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
