.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 75%;
  float: left;
  padding: 20px;
  border: 2px solid rgb(48, 42, 42);
} 
.float-child1 {
  width: 20%;
  float: right;
  padding: 10px;
  border: 2px solid rgb(159, 125, 125);
}


  

  