<div><table mat-table matSort [dataSource]="Datasource" class="table-container">
    <!-- Product Name Column -->
    <ng-container matColumnDef="productname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
      </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductCount}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="Columns; sticky: true" style="background-color:bisque;"></tr>
    <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
  </table>
</div>
  <h2 style="text-align:right;">Total Amount : {{total}}</h2>  

  <div class="text-center">
    <button class="btn btn-primary" (click)="save()">Print</button>
</div>
